#content-container {
  display: flex;
  padding-top: 5vh;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.pixel-container {
  outline: red solid;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 76vh;
  height: 76vh;
}

div {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
